.SearchBar {
  background-color: magenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchBar input {
	margin: 0 10px;
}

.SearchBar svg {
  transition: 0.3s;
  border-radius: 5px;
}

.SearchBar svg:hover {
  background-color: rgba(255, 255, 255, 0.7);
}